body {
    background-color: rgb(159, 210, 243);
    font-family: trebuchet MS;
}
section {
    padding: 0 1em .5em;
    width: 400px;
    height: 250px;
    background-color: rgb(237, 172, 250);
    position: absolute;
    left: 265px;
    top: 200px;
}
h1 {
	margin: .5em 0;
    text-align: center;
}
label {
	float: left;
    width: 10em;
    text-align: right;
    padding-bottom: .5em;
}
input {
    margin-left: 1em;
    margin-bottom: .5em;
}
#future_value {
	background-color: #eee;
}